﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <script src="@Url.Content("~/Scripts/lib/touch/sencha-touch-debug.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lib/touch/UxBufList.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/lib/touch/Ext.ux.touch.ListOptions.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Scripts/lib/touch/resources/css/sencha-touch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/lib/touch/resources/css/Ext.ux.touch.ListOptions.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/index.js")" ></script>*@

    <script type="text/javascript" src="@Url.Content("~/Scripts/app/app.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/routes.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/app/controllers/HomeController.js")"></script>
    
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/views/Viewport.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/views/HomeIndexView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/views/HomeBrowseView.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/views/HomeAboutView.js")"></script>
    <!-- http://www.onlinesolutionsdevelopment.com/blog/mobile-development/creating-a-sencha-touch-mvc-application-from-scratch-part-3/ --/>
</head>
<body>
    @RenderBody()
</body>
</html>
